.NewTodoForm {
  margin-bottom: 2rem;
  padding: 2rem;
  width: 100%;
  
  background: #576574;
  border-radius: .8rem;
}

.NewTodoForm > * {
  display: inline-block;
}

.NewTodoForm label {
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  font-size: 1.8rem;
}

.input-button-group {
  width: 100%;
  display: flex;
}

.input-button-group input {
  all: unset;
  margin-right: .5rem;
  padding: 0 1rem;
  flex-grow: 1;

  border: none;
  border-radius: .8rem;
  background: white;

  font-size: 2rem;
  /* line-height: 2rem; */
}

.input-button-group input:focus {
  outline: none;
  outline-offset: unset;
}

.input-button-group button,
.input-button-group button:focus {
  all: unset;
  padding: 1rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
  cursor: pointer;

  color: white;
  border-radius: .8rem;
  background: #10ac84;
}