.TodoList {
  position: relative;
  margin: 2.5vh auto;
  padding: 2rem;
  height: 95vh;
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: auto;
  background: #222f3e;
}

@media screen and (max-width: 500px) {
  .TodoList {
    width: 95%;
  } 
}